<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.menmaxi">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icona"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".RiepilogoOrdine"></activity>
        <activity android:name=".RichiestaConfermata" />
        <activity android:name=".MetodoPagamento" />
        <activity android:name=".RimuoviPortata" />
        <activity android:name=".OrdineConfermato" />
        <activity android:name=".OrdinePieno" />
        <activity android:name=".OrdineVuoto" />
        <activity android:name=".SelectCategoria" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>